h1{
    color:blue;
}

table {
  width:100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
}

#t01 th{
    background-color: black;
    color:white;
}

#noTask{
  padding-top: 12%;
  text-align: center;
  font-size: 35px;
}

#profile-img img{
  border-radius: 48%;
}