<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
</head>
<body>
    {{>navbar}}
    <a href="/contents">Profile Page</a> &nbsp; &nbsp;
    <a href="/insertTasks">Insert Tasks</a> &nbsp; &nbsp;
    <a href="/posts">View Posts</a> &nbsp;
    <br><br>
    <table id="t01">
        <tr>
        <th><h3>Task ID</h3></th>
        <th><h3>Title: </h3></th>
        <th><h3>Description: </h3></th>
        <th><h3>Status</h3></th>
        <th><h3>Stats</h3></th>
        </tr>
        {{#each task}}
        <tr>
            <td><h3>Task Id:- {{_id}}</h3></td>
            <td><a href="/updateTask/{{_id}}"><h3>{{taskName}}</h3></a></td>
            <td><h3>{{memo}}</h3></td>
            <td><h3>{{isCompleted}}</h3></td><br>
            <td>
            <i class="far fa-thumbs-up"></i> &nbsp; &nbsp; &nbsp; &nbsp;
            <i class="far fa-thumbs-down"></i>
            </td>
        </tr>
        {{/each}}
    </table>
    {{err}}
    <div id="noTask">
         <a href="/insertTasks">{{noTasks}}</a>
    </div>
</body>
</html>