<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}>
</head>
<body>
    {{>navbar}}
    <a href ="/logout">Log Out</a> &nbsp; &nbsp;
    <a href="/logoutAll">Log Out From all Session</a>&nbsp; &nbsp;
    <a href="/contents/delete">Delete User</a> &nbsp; &nbsp;
    <a href="/update">Update Profile</a>&nbsp; &nbsp;
    <a href="/profilepic">Profile Pic</a>&nbsp; &nbsp;
    <a href="/insertTasks">Insert Tasks</a>&nbsp; &nbsp;
    <a href="/allTasks">View All Tasks</a> &nbsp; &nbsp;
    <a href="/update/password">Update Password</a>
        
        <div class="col-sm">
            <div id="profile-img">
                <img src="/users/{{id}}/avatar" /><br>
            </div>
        </div>

    <div class="container">     
            {{title}}<br>

            <div class="row align-items-start">
                <div class="col-2">
                    <h6>Logged In as {{userName}}</h6><br>
                </div>
                <div class="col-2">
                    <h4>Full Name : {{userName}} {{userLastName}}</h4>
                </div>
                <div class="col-5">
                    <h4>Email ID : {{email}}</h4><br>
                </div>
                <div class="col-2">
                    <h4>Gender : {{gender}}</h4>
                </div>
            </div>
            {{id}}
        
    </div>
    {{!-- <form action="/logoutAll" method="POST">
    <input type ="submit" value="Log Out From All Session" />
    </form> --}}
    {{err1}}
</body>
</html>