<!DOCTYPE html>
<html lang="en">
<head>
   {{>headers}}
</head>
<body>
    {{>navbar}}
    <a href="/allTasks">View all Tasks</a>
    <form action="/insertTasks" method="POST">

        <label for="ownerName" style="visibility:hidden">Posted By: </label>
        <input type="text" value={{ownerName}} name="ownerName" style="visibility:hidden" readonly/><br>

        <label for ="task">Title: </label>
        <input type="text" placeholder="Enter The The Task Name : " name="taskName" oncopy="alert("You Copied The Task")" onpaste="return false"/><br>

        <label for ="memo">Memo: </label>
        <textarea name="memo" id="memo" placeholder="Describe about the task " oncopy="alert("You Copied The Description")" onpaste="return false"></textarea><br>

        <label for ="Status">Status: </label><br>
        <input type="radio" name="isCompleted" value="Finished" />
        <span>Finished</span> &nbsp; &nbsp; 
        <input type="radio" name="isCompleted" value="Pending" checked />
        <span>Pending</span><br>
        <input type="submit" value="Insert"/>

    </form>
    {{res}}
    {{err}}

</body>
</html>