<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
</head>
<body>
    {{>navbar}}
    <a href="allTasks">Your Posts</a>
    <h2>Posts</h2>
    <ul>
        {{#each post}}
        <li>{{taskName}}</li>
        <li>Posted By :- {{ownerName}}</li><br><br>
        {{/each}}
    </ul>
</body>
</html>