<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
</head>
<body>
    {{>navbar}}
    <div id="pp-pg">
    <form action="/profilepic" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar"/><br>
        <input type="submit" name="submit" value="Upload"/>
    </form>
    <a href="/contents">Go to Profile Page</a><br>
    {{err}}
    </div>
</body>
</html>