<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
</head>
<body>
    <a href="/login">Log In to Your Existing Account</a>
    <form action="/register" method="POST">
        <input type="text" placeholder="Enter Your First Name" name="fullName"/><br>
        <input type="text" placeholder="Enter Your Last Name" name="lastName"/><br>
        <input type="email" placeholder="Enter Your Email" name="email" oncopy="return false" onpaste="return false"/><br>
        {{!-- <input type="password" placeholder="Enter Your Password" name="password"/><br> --}}
        <input type="radio" name="gender" value="male" checked/>
        <span>Male</span><br>
        <input type="radio" name="gender" value="female" />
        <span>Female</span><br>
        <input type="password" placeholder="Enter Your Password" name="password" id="typepass" oncopy="return false" onpaste="return false" />
        <input type="checkbox" onclick="Toggle()"> <b>Show Password</b><br>
        <input type="password" placeholder="Enter Your Password Again" name="confirmPassword" id="typepass2" oncopy="return false" onpaste="return false" />
        <input type="checkbox" onclick="Toggle2()"> <b>Show Confirm Password</b><br>
        <input type="submit" value="Register"/>
    </form>
    <a href="/login">{{userExistError}}</a>
    {{err1}}
    {{err2}}
</body>
</html>