<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
</head>
<body>
    <h2>Update Password</h2>
    <form method="post">
        <input type="password" placeholder="Enter Your Password" name="password" id="typepass" required oncopy="return false" onpaste="return false"/>
        <input type="checkbox" onclick="Toggle()"> <b>Show Password</b><br>
        <input type="password" placeholder="Enter Your Password Again" name="confirmPassword" id="typepass2" required oncopy="return false" onpaste="return false" />
        <input type="checkbox" onclick="Toggle2()"> <b>Show Confirm Password</b><br>
        <input type="submit" value="Update" />
    </form>
    {{error}}
</body>
</html>