<!DOCTYPE html>
<html lang="en">

<head>
    {{>headers}}
</head>

<body>
    <h1>Update Page</h1>>
    <form action="/update" method="POST">
        <input type="text" placeholder="Enter Your Name" name="fullName" value={{userFirstName}} /><br>
        <input type="text" placeholder="Enter Your Last Name" name="lastName" value={{userLastName}} /><br>
        <input type="email" placeholder="Enter Your Email" name="email" value={{email}} oncopy="return false" onpaste="return false" /><br>
        
        <input type="radio" name="gender" value="male" />
        <span>Male</span><br>
        <input type="radio" name="gender" value="female" />
        <span>Female</span><br>
        
        <input type="submit" value="Update" />
    </form>
    {{err}}
    {{err2}}
</body>

</html>