<!DOCTYPE html>
<html lang="en">
<head>
    {{>headers}}
</head>
<body>
    {{>navbar}}
    <h2>Update Page</h2>
    <a href="/allTasks">View all Tasks</a>
    <form action="/updateTask/{{task.id}}" method="POST">
        <label for="task">Title: </label>
        <input type="text" placeholder="Enter The The Task Name : " value={{task.taskName}} name="taskName" oncopy="return false" onpaste="return false" /><br>

        <label for="memo">Memo: </label>
        <textarea name="memo" id="memo" placeholder="Describe about the task " oncopy="return false" onpaste="return false">{{task.memo}}</textarea><br>

        <label for="Status">Status: </label><br>
        <input type="radio" name="isCompleted" value="Finished" checked />
        <span>Finished</span> &nbsp; &nbsp;
        <input type="radio" name="isCompleted" value="Pending" />
        <span>Pending</span><br>
        <input type="submit" value="Update" />
    </form>
    <a href="/deleteTask/{{task.id}}">Delete Task</a>
    {{task.id}}
    {{err}}
</body>
</html>